<!-- Modal -->
<div class="modal fade" id="ethereum-info-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="EthereumController">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Ethereum</h4>


            </div>
            <!--Body-->
            <div class="modal-body">
                <!-- Nav tabs -->
                <ul class="nav ethereum nav-tabs">
                    <li id="ETH-receive-tab" class="active">
                        <a  href="#ETH-receive" data-toggle="tab">Receive</a>
                    </li>
                    <li id="ETH-send-tab">
                        <a href="#ETH-send" data-toggle="tab">Send</a>
                    </li>
                    <li id="ETH-transactions-tab">
                        <a href="#ETH-transactions" data-toggle="tab">Transactions</a>
                    </li>
                </ul>

                <div class="ethereum tab-content ">
                    <div class="tab-pane active" id="ETH-receive">
                        <br>
                        <h3>Your Ethereum Account Information</h3>
                        <br>
                        <p>Address:</p>
                        <h4>1BvBMSEYstWetqTFn5Au4m4GFg7xJaNVN2</h4>
                        <img src="https://chart.googleapis.com/chart?chs=350x350&cht=qr&chl=1BvBMSEYstWetqTFn5Au4m4GFg7xJaNVN2" alt="">
                    </div>
                    <div class="tab-pane" id="ETH-send">
                        <br>
                        <h3>Send Ethereum to an Address</h3>
                        <div class="error-message">
                            <br>
                            <h4 class='text-danger font-weight-bold'>{[{errorMessage}]}</h4>
                            <br>
                        </div>
                        <div style="width: 60%; display: inline-block; margin-right: 35px;">
                            <input type="text" id="ETH-send-address" class="form-control validate" placeholder="Receiving Address" ng-model="sendAddress">
                        </div>
                        <div style="width: 20%; display: inline-block;">
                            <input type="number" id="ETH-send-amount" class="form-control validate" placeholder="Amount" ng-model="sendAmount">
                        </div>
                        <br>
                        <h4>Sending {[{sendAmount || 0 }]} ETH ( {[{sendAmount / ETHinUSD }]} USD ) </h4>
                        <br>
                        <input class="btn btn-primary btn-lg" type="submit" value="Send" ng-click="sendEthereum()">

                    </div>
                    <div class="tab-pane" id="ETH-transactions">
                        <br>
                        <h3>Transactions</h3>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-striped" style="text-align: left">
                                <tr>
                                    <th>Date</th>
                                    <th>Txn Hash</th>
                                    <th>Type</th>
                                    <th>Amount</th>
                                    <th>from</th>
                                    <th>to</th>
                                </tr>
                                <tr ng-repeat="txn in transactions | filter: ethereumFilter ">
                                    <td> {[{txn.requestedAt | date:'dd-MM-yy HH:mm'}]} </td>
                                    <td> {[{txn.hash}]} </td>
                                    <td> {[{txn.typeOf}]} </td>
                                    <td> {[{(txn.metadata.fromAmount > txn.metadata.toAmount ? txn.metadata.fromAmount : txn.metadata.toAmount)}]} </td>
                                    <td> {[{txn.metadata.fromAddress}]} </td>
                                    <td> {[{txn.metadata.toAddress}]} </td>

                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <!--&lt;!&ndash;Footer&ndash;&gt;-->
            <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            <!--</div>-->
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- /.Live preview-->

<style>
    .tab-content {
        text-align: center;
    }
</style>