<!-- Modal -->
<div class="modal fade" id="GSC-info-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="instrumentsController">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">GSC</h4>


            </div>
            <!--Body-->
            <div class="modal-body">
                <!-- Nav tabs -->
                <ul class="nav GSC nav-tabs">
                    <!--<li id="GSC-receive-tab" class="active">-->
                        <!--<a href="#GSC-receive" data-toggle="tab">Receive</a>-->
                    <!--</li>-->
                    <!--<li id="GSC-send-tab">-->
                        <!--<a href="#GSC-send" data-toggle="tab">Send</a>-->
                    <!--</li>-->
                    <li id="GSC-mint-tab">
                        <a href="#GSC-mint" data-toggle="tab">Mint</a>
                    </li>
                    <li id="GSC-burn-tab">
                        <a href="#GSC-burn" data-toggle="tab">Burn</a>
                    </li>
                    <li><a href="#GSC-transactions" data-toggle="tab">Transactions</a>
                    </li>
                </ul>

                <div class="GSC tab-content ">
                    <!--<div class="tab-pane active" id="GSC-receive">-->
                        <!--<br>-->
                        <!--<h3>Your Gold (1G) Account Information</h3>-->
                        <!--<br>-->
                        <!--<p>Address:</p>-->
                        <!--<h4>{[{DNCaddress}]}</h4>-->
                        <!--<img src="https://chart.googleapis.com/chart?chs=350x350&cht=qr&chl={[{DNCaddress}]}" alt="">-->
                    <!--</div>-->
                    <!--<div class="tab-pane" id="GSC-send">-->
                        <!--<br>-->
                        <!--<h3>Send Gold (1G) to an Address</h3>-->
                        <!--<div class="send-error-message">-->
                            <!--<br>-->
                            <!--<h4 class='text-danger font-weight-bold'>{[{sendErrorMessage}]}</h4>-->
                            <!--<br>-->
                        <!--</div>-->
                        <!--<div style="width: 60%; display: inline-block; margin-right: 35px;">-->
                            <!--<input type="text" id="GSC-send-address" class="form-control validate" placeholder="Receiving Address" ng-model="sendAddress">-->
                        <!--</div>-->
                        <!--<div style="width: 20%; display: inline-block;">-->
                            <!--<input type="number" id="GSC-send-amount" class="form-control validate" placeholder="Amount" ng-model="sendAmount">-->
                        <!--</div>-->
                        <!--<br>-->
                        <!--<h4>Sending {[{sendAmount || 0 | number:2}]} GSC ( {[{sendAmount / GSCbidinUSD || 0 | number:2}]} USD ) </h4>-->
                        <!--<br>-->
                        <!--<input class="btn btn-primary btn-lg" type="submit" value="Send" ng-click="sendGSC()">-->

                    <!--</div>-->
                    <div class="tab-pane" id="GSC-mint">
                        <br>
                        <h3>Mint GSC</h3>
                        <p>Please enter amount to mint in DNC</p>
                        <p>and a currency to mint</p>
                        <div class="mint-error-message">
                            <br>
                            <h4 class='text-danger font-weight-bold'>{[{mintErrorMessage}]}</h4>
                            <br>
                        </div>
                        <div style="width: 20%; display: inline-block; margin-right: 15px;">
                            <input type="number" id="mint-amount" class="form-control validate" placeholder="Amount" ng-model="mintAmount">
                        </div>
                        <span style="font-size: 16px; margin-right: 15px;">DNC to</span>
                        <div style="width: 40%; display: inline-block;">
                            <select name="mint-currency" id="mint-currency" ng-model="mintCurrency">
                                <option value="GOLD_1G">GOLD (1G)</option>
                                <option value="GOLD_100G">GOLD (100G)</option>
                                <option value="GOLD_1KG">GOLD (1KG)</option>
                                <option value="SILVER_100OZ">SILVER (100 OZ)</option>
                                <option value="SILVER_1KG">SILVER (1KG)</option>
                            </select>
                        </div>
                        <br>

                        <div ng-if="mintCurrency == 'GOLD_1G'">
                            <h4>Minting {[{mintAmount * DNCbidinUSD/G1GaskinUSD || 0 }]} GSC ( {[{mintAmount || 0 }]} DNC ) </h4>
                            <br>
                        </div>

                        <div ng-if="mintCurrency == 'GOLD_100G'">
                            <h4>Minting {[{mintAmount * DNCbidinUSD/G100GaskinUSD || 0 }]} GSC ( {[{mintAmount || 0 }]} DNC ) </h4>
                            <br>
                        </div>

                        <div ng-if="mintCurrency == 'GOLD_1KG'">
                            <h4>Minting {[{mintAmount * DNCbidinUSD/G1KGaskinUSD || 0 }]} GSC ( {[{mintAmount || 0 }]} DNC ) </h4>
                            <br>
                        </div>

                        <div ng-if="mintCurrency == 'SILVER_100OZ'">
                            <h4>Minting {[{mintAmount * DNCbidinUSD/S100OZaskinUSD || 0 }]} GSC ( {[{mintAmount || 0 }]} DNC ) </h4>
                            <br>
                        </div>

                        <div ng-if="mintCurrency == 'SILVER_1KG'">
                            <h4>Minting {[{mintAmount * DNCbidinUSD/S1KGaskinUSD || 0 }]} GSC ( {[{mintAmount || 0 }]} DNC ) </h4>
                            <br>
                        </div>

                        <input class="btn btn-primary btn-lg" type="submit" value="Send" ng-click="mintGSC()">
                    </div>
                    <div class="tab-pane" id="GSC-burn">
                        <br>
                        <h3>Mint GSC</h3>
                        <p>Please enter amount to mint in DNC</p>
                        <p>and a currency to mint</p>
                        <div class="burn-error-message">
                            <br>
                            <h4 class='text-danger font-weight-bold'>{[{burnErrorMessage}]}</h4>
                            <br>
                        </div>
                        <div style="width: 20%; display: inline-block; margin-right: 15px;">
                            <input type="number" id="burn-amount" class="form-control validate" placeholder="Amount" ng-model="burnAmount">
                        </div>
                        <span style="font-size: 16px; margin-right: 15px;">DNC to</span>
                        <div style="width: 40%; display: inline-block;">
                            <select name="burn-currency" id="burn-currency" ng-model="burnCurrency">
                                <option value="GOLD_1G">GOLD (1G)</option>
                                <option value="GOLD_100G">GOLD (100G)</option>
                                <option value="GOLD_1KG">GOLD (1KG)</option>
                                <option value="SILVER_100OZ">SILVER (100 OZ)</option>
                                <option value="SILVER_1KG">SILVER (1KG)</option>
                            </select>
                        </div>
                        <br>

                        <div ng-if="burnCurrency == 'GOLD_1G'">
                            <h4>Minting {[{burnAmount * DNCbidinUSD/G1GbidinUSD || 0 }]} GSC ( {[{burnAmount || 0 }]} DNC ) </h4>
                            <br>
                        </div>

                        <div ng-if="burnCurrency == 'GOLD_100G'">
                            <h4>Minting {[{burnAmount * DNCbidinUSD/G100GbidinUSD || 0 }]} GSC ( {[{burnAmount || 0 }]} DNC ) </h4>
                            <br>
                        </div>

                        <div ng-if="burnCurrency == 'GOLD_1KG'">
                            <h4>Minting {[{burnAmount * DNCbidinUSD/G1KGbidinUSD || 0 }]} GSC ( {[{burnAmount || 0 }]} DNC ) </h4>
                            <br>
                        </div>

                        <div ng-if="burnCurrency == 'SILVER_100OZ'">
                            <h4>Minting {[{burnAmount * DNCbidinUSD/S100OZbidinUSD || 0 }]} GSC ( {[{burnAmount || 0 }]} DNC ) </h4>
                            <br>
                        </div>

                        <div ng-if="burnCurrency == 'SILVER_1KG'">
                            <h4>Minting {[{burnAmount * DNCbidinUSD/S1KGbidinUSD || 0 }]} GSC ( {[{burnAmount || 0 }]} DNC ) </h4>
                            <br>
                        </div>
                        <input class="btn btn-primary btn-lg" type="submit" value="Send" ng-click="burnGSC()">
                    </div>
                    <div class="tab-pane" id="GSC-transactions">
                        <br>
                        <h3>Transactions</h3>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-striped" style="text-align: left">
                                <tr>
                                    <th>Date</th>
                                    <th>Txn Hash</th>
                                    <th>Type</th>
                                    <th>Amount</th>
                                    <th>from</th>
                                    <th>to</th>
                                </tr>
                                <tr ng-repeat="txn in transactions | filter: GSCFilter ">
                                    <td> {[{txn.requestedAt | date:'dd-MM-yy HH:mm'}]} </td>
                                    <td> {[{txn.hash}]} </td>
                                    <td> {[{txn.typeOf}]} </td>
                                    <td> {[{(txn.metadata.fromAmount > txn.metadata.toAmount ? txn.metadata.fromAmount : txn.metadata.toAmount)}]} </td>
                                    <td> {[{txn.metadata.fromAddress}]} </td>
                                    <td> {[{txn.metadata.toAddress}]} </td>

                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <!--&lt;!&ndash;Footer&ndash;&gt;-->
            <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            <!--</div>-->
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- /.Live preview-->

<style>
    .tab-content {
        text-align: center;
    }
</style>