<!-- Modal -->
<div class="modal fade" id="GSC-info-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="instrumentsController">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">GSC</h4>


            </div>
            <!--Body-->
            <div class="modal-body">
                <!-- Nav tabs -->
                <ul class="nav GSC nav-tabs">
                    <!--<li id="GSC-receive-tab" class="active">-->
                        <!--<a href="#GSC-receive" data-toggle="tab">Receive</a>-->
                    <!--</li>-->
                    <!--<li id="GSC-send-tab">-->
                        <!--<a href="#GSC-send" data-toggle="tab">Send</a>-->
                    <!--</li>-->
                    <li id="GSC-mint-tab">
                        <a href="#GSC-mint" data-toggle="tab">Mint</a>
                    </li>
                    <li id="GSC-burn-tab">
                        <a href="#GSC-burn" data-toggle="tab">Burn</a>
                    </li>
                    <li><a href="#GSC-transactions" data-toggle="tab">Transactions</a>
                    </li>
                </ul>

                <div class="GSC tab-content ">
                    <!--<div class="tab-pane active" id="GSC-receive">-->
                        <!--<br>-->
                        <!--<h3>Your Gold (1G) Account Information</h3>-->
                        <!--<br>-->
                        <!--<p>Address:</p>-->
                        <!--<h4>{[{DNCaddress}]}</h4>-->
                        <!--<img src="https://chart.googleapis.com/chart?chs=350x350&cht=qr&chl={[{DNCaddress}]}" alt="">-->
                    <!--</div>-->
                    <!--<div class="tab-pane" id="GSC-send">-->
                        <!--<br>-->
                        <!--<h3>Send Gold (1G) to an Address</h3>-->
                        <!--<div class="send-error-message">-->
                            <!--<br>-->
                            <!--<h4 class='text-danger font-weight-bold'>{[{sendErrorMessage}]}</h4>-->
                            <!--<br>-->
                        <!--</div>-->
                        <!--<div style="width: 60%; display: inline-block; margin-right: 35px;">-->
                            <!--<input type="text" id="GSC-send-address" class="form-control validate" placeholder="Receiving Address" ng-model="sendAddress">-->
                        <!--</div>-->
                        <!--<div style="width: 20%; display: inline-block;">-->
                            <!--<input type="number" id="GSC-send-amount" class="form-control validate" placeholder="Amount" ng-model="sendAmount">-->
                        <!--</div>-->
                        <!--<br>-->
                        <!--<h4>Sending {[{sendAmount || 0 | number:2}]} GSC ( {[{sendAmount / GSCbidinUSD || 0 | number:2}]} USD ) </h4>-->
                        <!--<br>-->
                        <!--<input class="btn btn-primary btn-lg" type="submit" value="Send" ng-click="sendGSC()">-->

                    <!--</div>-->
                    <div class="tab-pane" id="GSC-mint">
                        <br>
                        <h3>Mint GSC</h3>
                        <p>Please enter amount of GSC to mint</p>
                        <p>and a currency to mint</p>
                        <div class="mint-error-message">
                            <br>
                            <h4 class='text-danger font-weight-bold'>{[{mintErrorMessage}]}</h4>
                            <br>
                        </div>
                        <div>
                            <input style="width: 75%; display: inline-block; margin-right: 15px;" type="number" step="1" id="mint-amount" class="form-control validate" placeholder="Amount" ng-model="mintAmount">
                        </div>
                        <div style="display: flex; align-items: center;">
                            <div style="width: 30%; text-align: right; font-size: 16px; margin-right: 15px;">
                                <span>Instrument: </span>
                            </div>
                            <select style="width: 50%; display: inline-block;" name="mint-instrument" id="mint-instrument" ng-model="mintInstrument">
                                <option value="GOLD_1G">GOLD (1G)</option>
                                <option value="GOLD_100G">GOLD (100G)</option>
                                <option value="GOLD_1KG">GOLD (1KG)</option>
                                <option value="SILVER100Oz">SILVER (100 Oz)</option>
                                <option value="SILVER1KG">SILVER (1KG)</option>
                            </select>
                        </div>

                        <div style="display: flex; align-items: center; padding-top: 20px;">
                            <div style="width: 30%; text-align: right; font-size: 16px; margin-right: 15px;">
                                <span>Currency: </span>
                            </div>
                            <select style="width: 50%; display: inline-block;" name="mint-currency" id="mint-currency" ng-model="mintCurrency">
                                <option value="ETH">ETH (Ethereum)</option>
                                <option value="BTC">BTC (Bitcoin)</option>
                                <option value="DNC">DNC (Dinarcoin)</option>
                            </select>
                        </div>

                        <br>

                        <div ng-if="mintInstrument == 'GOLD_1G'">
                            <h4 ng-if="mintCurrency == 'DNC'" >Minting {[{mintAmount || 0 }]} GOLD 1G ( {[{mintAmount * G1GaskinUSD/DNCbidinUSD || 0 }]} DNC ) </h4>
                            <h4 ng-if="mintCurrency == 'ETH'" >Minting {[{mintAmount || 0 }]} GOLD 1G ( {[{mintAmount * G1GaskinUSD/ETHinUSD || 0 }]} ETH ) </h4>
                            <h4 ng-if="mintCurrency == 'BTC'" >Minting {[{mintAmount || 0 }]} GOLD 1G ( {[{mintAmount * G1GaskinUSD/BTCinUSD || 0 }]} BTC ) </h4>
                            <br>
                        </div>

                        <div ng-if="mintInstrument == 'GOLD_100G'">
                            <h4 ng-if="mintCurrency == 'DNC'" >Minting {[{mintAmount || 0 }]} GOLD 100G ( {[{mintAmount * G100GaskinUSD/DNCbidinUSD || 0 }]} DNC ) </h4>
                            <h4 ng-if="mintCurrency == 'ETH'" >Minting {[{mintAmount || 0 }]} GOLD 100G ( {[{mintAmount * G100GaskinUSD/ETHinUSD || 0 }]} ETH ) </h4>
                            <h4 ng-if="mintCurrency == 'BTC'" >Minting {[{mintAmount || 0 }]} GOLD 100G ( {[{mintAmount * G100GaskinUSD/BTCinUSD || 0 }]} BTC ) </h4>
                            <br>
                        </div>

                        <div ng-if="mintInstrument == 'GOLD_1KG'">
                            <h4 ng-if="mintCurrency == 'DNC'" >Minting {[{mintAmount || 0 }]} GOLD 1KG ( {[{mintAmount * G1KGaskinUSD/DNCbidinUSD || 0 }]} DNC ) </h4>
                            <h4 ng-if="mintCurrency == 'ETH'" >Minting {[{mintAmount || 0 }]} GOLD 1KG ( {[{mintAmount * G1KGaskinUSD/ETHinUSD || 0 }]} ETH ) </h4>
                            <h4 ng-if="mintCurrency == 'BTC'" >Minting {[{mintAmount || 0 }]} GOLD 1KG ( {[{mintAmount * G1KGaskinUSD/BTCinUSD || 0 }]} BTC ) </h4>
                            <br>
                        </div>

                        <div ng-if="mintInstrument == 'SILVER100Oz'">
                            <h4 ng-if="mintCurrency == 'DNC'" >Minting {[{mintAmount || 0 }]} SILVER 100 Oz ( {[{mintAmount * S100OzaskinUSD/DNCbidinUSD || 0 }]} DNC ) </h4>
                            <h4 ng-if="mintCurrency == 'ETH'" >Minting {[{mintAmount || 0 }]} SILVER 100 Oz ( {[{mintAmount * S100OzaskinUSD/ETHinUSD || 0 }]} ETH ) </h4>
                            <h4 ng-if="mintCurrency == 'BTC'" >Minting {[{mintAmount || 0 }]} SILVER 100 Oz ( {[{mintAmount * S100OzaskinUSD/BTCinUSD || 0 }]} BTC ) </h4>
                            <br>
                        </div>

                        <div ng-if="mintInstrument == 'SILVER1KG'">
                            <h4 ng-if="mintCurrency == 'DNC'" >Minting {[{mintAmount || 0 }]} SILVER 1KG ( {[{mintAmount * S1KGaskinUSD/DNCbidinUSD || 0 }]} DNC ) </h4>
                            <h4 ng-if="mintCurrency == 'ETH'" >Minting {[{mintAmount || 0 }]} SILVER 1KG ( {[{mintAmount * S1KGaskinUSD/ETHinUSD || 0 }]} ETH ) </h4>
                            <h4 ng-if="mintCurrency == 'BTC'" >Minting {[{mintAmount || 0 }]} SILVER 1KG ( {[{mintAmount * S1KGaskinUSD/BTCinUSD || 0 }]} BTC ) </h4>
                            <br>
                        </div>

                        <input class="btn btn-primary btn-lg" type="submit" value="Send" ng-click="mintGSC()">
                    </div>
                    <div class="tab-pane" id="GSC-burn">
                        <br>
                        <h3>Burn GSC</h3>
                        <p>Please enter amount of GSC to burn</p>
                        <p>and a currency to burn</p>
                        <div class="burn-error-message">
                            <br>
                            <h4 class='text-danger font-weight-bold'>{[{burnErrorMessage}]}</h4>
                            <br>
                        </div>
                        <div>
                            <input style="width: 75%; display: inline-block; margin-right: 15px;" type="number" step="1" id="burn-amount" class="form-control validate" placeholder="Amount" ng-model="burnAmount">
                        </div>
                        <div style="display: flex; align-items: center;">
                            <div style="width: 30%; text-align: right; font-size: 16px; margin-right: 15px;">
                                <span>Instrument: </span>
                            </div>
                            <select style="width: 50%; display: inline-block;" name="burn-instrument" id="burn-instrument" ng-model="burnInstrument">
                                <option value="GOLD_1G">GOLD (1G)</option>
                                <option value="GOLD_100G">GOLD (100G)</option>
                                <option value="GOLD_1KG">GOLD (1KG)</option>
                                <option value="SILVER100Oz">SILVER (100 Oz)</option>
                                <option value="SILVER1KG">SILVER (1KG)</option>
                            </select>
                        </div>

                        <div style="display: flex; align-items: center; padding-top: 20px;">
                            <div style="width: 30%; text-align: right; font-size: 16px; margin-right: 15px;">
                                <span>Currency: </span>
                            </div>
                            <select style="width: 50%; display: inline-block;" name="burn-currency" id="burn-currency" ng-model="burnCurrency">
                                <option value="ETH">ETH (Ethereum)</option>
                                <option value="BTC">BTC (Bitcoin)</option>
                                <option value="DNC">DNC (Dinarcoin)</option>
                            </select>
                        </div>

                        <br>

                        <div ng-if="burnInstrument == 'GOLD_1G'">
                            <h4 ng-if="burnCurrency == 'DNC'" >Burning {[{burnAmount || 0 }]} GOLD 1G ( {[{burnAmount * G1GbidinUSD/DNCbidinUSD || 0 }]} DNC ) </h4>
                            <h4 ng-if="burnCurrency == 'ETH'" >Burning {[{burnAmount || 0 }]} GOLD 1G ( {[{burnAmount * G1GbidinUSD/ETHinUSD || 0 }]} ETH ) </h4>
                            <h4 ng-if="burnCurrency == 'BTC'" >Burning {[{burnAmount || 0 }]} GOLD 1G ( {[{burnAmount * G1GbidinUSD/BTCinUSD || 0 }]} BTC ) </h4>
                            <br>
                        </div>

                        <div ng-if="burnInstrument == 'GOLD_100G'">
                            <h4 ng-if="burnCurrency == 'DNC'" >Burning {[{burnAmount || 0 }]} GOLD 100G ( {[{burnAmount * G100GbidinUSD/DNCbidinUSD || 0 }]} DNC ) </h4>
                            <h4 ng-if="burnCurrency == 'ETH'" >Burning {[{burnAmount || 0 }]} GOLD 100G ( {[{burnAmount * G100GbidinUSD/ETHinUSD || 0 }]} ETH ) </h4>
                            <h4 ng-if="burnCurrency == 'BTC'" >Burning {[{burnAmount || 0 }]} GOLD 100G ( {[{burnAmount * G100GbidinUSD/BTCinUSD || 0 }]} BTC ) </h4>
                            <br>
                        </div>

                        <div ng-if="burnInstrument == 'GOLD_1KG'">
                            <h4 ng-if="burnCurrency == 'DNC'" >Burning {[{burnAmount || 0 }]} GOLD 1KG ( {[{burnAmount * G1KGbidinUSD/DNCbidinUSD || 0 }]} DNC ) </h4>
                            <h4 ng-if="burnCurrency == 'ETH'" >Burning {[{burnAmount || 0 }]} GOLD 1KG ( {[{burnAmount * G1KGbidinUSD/ETHinUSD || 0 }]} ETH ) </h4>
                            <h4 ng-if="burnCurrency == 'BTC'" >Burning {[{burnAmount || 0 }]} GOLD 1KG ( {[{burnAmount * G1KGbidinUSD/BTCinUSD || 0 }]} BTC ) </h4>
                            <br>
                        </div>

                        <div ng-if="burnInstrument == 'SILVER100Oz'">
                            <h4 ng-if="burnCurrency == 'DNC'" >Burning {[{burnAmount || 0 }]} SILVER 100 Oz ( {[{burnAmount * S100OzbidinUSD/DNCbidinUSD || 0 }]} DNC ) </h4>
                            <h4 ng-if="burnCurrency == 'ETH'" >Burning {[{burnAmount || 0 }]} SILVER 100 Oz ( {[{burnAmount * S100OzbidinUSD/ETHinUSD || 0 }]} ETH ) </h4>
                            <h4 ng-if="burnCurrency == 'BTC'" >Burning {[{burnAmount || 0 }]} SILVER 100 Oz ( {[{burnAmount * S100OzbidinUSD/BTCinUSD || 0 }]} BTC ) </h4>
                            <br>
                        </div>

                        <div ng-if="burnInstrument == 'SILVER1KG'">
                            <h4 ng-if="burnCurrency == 'DNC'" >Burning {[{burnAmount || 0 }]} SILVER 1KG ( {[{burnAmount * S1KGbidinUSD/DNCbidinUSD || 0 }]} DNC ) </h4>
                            <h4 ng-if="burnCurrency == 'ETH'" >Burning {[{burnAmount || 0 }]} SILVER 1KG ( {[{burnAmount * S1KGbidinUSD/ETHinUSD || 0 }]} ETH ) </h4>
                            <h4 ng-if="burnCurrency == 'BTC'" >Burning {[{burnAmount || 0 }]} SILVER 1KG ( {[{burnAmount * S1KGbidinUSD/BTCinUSD || 0 }]} BTC ) </h4>
                            <br>
                        </div>
                        <input class="btn btn-primary btn-lg" type="submit" value="Send" ng-click="burnGSC()">
                    </div>
                    <div class="tab-pane" id="GSC-transactions">
                        <br>
                        <h3>Transactions</h3>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-striped" style="text-align: left">
                                <tr>
                                    <th>Date</th>
                                    <th>Txn Hash</th>
                                    <th>Type</th>
                                    <th>Amount</th>
                                    <th>from</th>
                                    <th>to</th>
                                </tr>
                                <tr ng-repeat="txn in transactions | filter: GSCFilter ">
                                    <td> {[{txn.requestedAt | date:'dd-MM-yy HH:mm'}]} </td>
                                    <td> {[{txn.hash}]} </td>
                                    <td> {[{txn.typeOf}]} </td>
                                    <td> {[{(txn.metadata.fromAmount > txn.metadata.toAmount ? txn.metadata.fromAmount : txn.metadata.toAmount)}]} </td>
                                    <td> {[{txn.metadata.fromAddress}]} </td>
                                    <td> {[{txn.metadata.toAddress}]} </td>

                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <!--&lt;!&ndash;Footer&ndash;&gt;-->
            <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            <!--</div>-->
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- /.Live preview-->

<style>
    .tab-content {
        text-align: center;
    }
</style>