

<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <br>
        <div class="logo-img">
            <img src="/img/UBW_Logo.png" alt="">
        </div>
        <h4 class="sidebar-brand" style="color: white; padding-left: 20px;">{[{email}]}</h4>
        <li>
            <a href="/dashboard">Dashboard</a>
        </li>
        <li>
            <a href="/transactions">Transactions</a>
        </li>
        </li>
        <li>
            <a  ng-click="logout()">Logout</a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->
