<div id="wrapper" ng-controller="DashboardController">
    {{> sidebar}}

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <!--Navigation bar-->
            <nav class="navbar navbar-dark bg-primary">
                <a href="#menu-toggle" id="menu-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <img style="width: 25px; padding-top: 15px; margin-left: 15px;" src="/img/icon-hamburger.png" alt="">
                </a>
                <div class="container">
                    <!--Toggle sidebar-->

                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item btn-group">
                            <div class="btn-group">
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!--End Navigation bar-->

            <!--Dashboard content-->
            <div class="col-lg-10 col-lg-offset-1 col-md-12">
                <br>
                <br>
                <!--Bitcoin section-->
                <div class="bitcoin currency-container">
                    <!--Currency label section-->
                    <div class="currency-label col-md-4 col-sm-4">
                        <div class="currency-logo">
                            <img style="width:100%; box-shadow: none" src="/img/Bitcoin_Logo.png" alt="">
                        </div>
                        <div class="currency-text">
                            <h2>BTC</h2>
                            <h4>Bitcoin</h4>
                        </div>
                    </div>
                    <!--Currency status-->
                    <div class="currency-status col-md-3 col-sm-8">
                        <p>BTC Balance</p>
                        <h2 class="currency-crypto">{[{BTCbalance | number:4}]} BTC</h2>
                        <h3 class="currency-fiat">{[{BTCbalance * BTCinUSD || 0 | number:2}]} USD</h3>
                        <div class="status-button-container">
                            <button class="btn btn-indigo btn-rounded waves-effect" data-toggle="modal" data-target="#bitcoin-info-modal" ng-click="modalActivate('bitcoin','BTC-receive')"><i class="fa fa-arrow-down"></i> Deposit </button>
                            <button class="btn btn-indigo btn-rounded waves-effect" data-toggle="modal" data-target="#bitcoin-info-modal" ng-click="modalActivate('bitcoin','BTC-send')"><i class="fa fa-arrow-up"></i> Withdraw</button>
                        </div>

                    </div>
                    <!--Currency options-->
                    <div class="currency-options col-md-5 col-sm-12">
                        <div class="buy-container col-sm-6">
                            <p>Buy DNC at</p>
                            <h3 class="currency-exchange">{[{ DNCaskinUSD/BTCinUSD | number:4}]} BTC</h3>
                            <button class="btn btn-dark-green btn-rounded waves-effect" data-toggle="modal" data-target="#dinarcoin-info-modal" ng-click="modalActivate('dinarcoin','DNC-mint')">Mint DNC</button>
                        </div>
                        <div class="sell-container col-sm-6">
                            <p>Sell DNC at</p>
                            <h3 class="currency-exchange">{[{ DNCbidinUSD/BTCinUSD | number:4}]} BTC</h3>
                            <button class="btn btn-deep-orange btn-rounded waves-effect" data-toggle="modal" data-target="#dinarcoin-info-modal" ng-click="modalActivate('dinarcoin','DNC-burn')">Burn DNC</button>
                        </div>
                    </div>
                </div>

                <br>
                <hr>
                <br>
                <!--Ethereum section-->
                <div class="bitcoin currency-container">
                    <!--Currency label section-->
                    <div class="currency-label col-md-4 col-sm-4">
                        <div class="currency-logo">
                            <img style="width:100%; box-shadow: none" src="/img/Ethereum_Logo.png" alt="">
                        </div>
                        <div class="currency-text">
                            <h2>ETH</h2>
                            <h4>Ethereum</h4>
                        </div>
                    </div>
                    <!--Currency status-->
                    <div class="currency-status col-md-3 col-sm-8">
                        <p>ETH Balance</p>
                        <h2 class="currency-crypto">{[{ETHbalance | number:4}]} ETH</h2>
                        <h3 class="currency-fiat">{[{ETHbalance * ETHinUSD || 0 | number:2}]} USD</h3>
                        <div class="status-button-container">
                            <button class="btn btn-indigo btn-rounded waves-effect" data-toggle="modal" data-target="#ethereum-info-modal" ng-click="modalActivate('ethereum','ETH-receive')"><i class="fa fa-arrow-down"></i> Deposit</button>
                            <button class="btn btn-indigo btn-rounded waves-effect" data-toggle="modal" data-target="#ethereum-info-modal" ng-click="modalActivate('ethereum','ETH-send')"><i class="fa fa-arrow-up"></i> Withdraw </button>
                        </div>
                    </div>
                    <!--Currency options-->
                    <div class="currency-options col-md-5 col-sm-12">
                        <div class="buy-container col-sm-6">
                            <p>Buy DNC at</p>
                            <h3 class="currency-exchange">{[{ DNCaskinUSD/ETHinUSD | number:4}]} ETH</h3>
                            <button class="btn btn-dark-green btn-rounded waves-effect" data-toggle="modal" data-target="#dinarcoin-info-modal" ng-click="modalActivate('dinarcoin','DNC-mint')">Mint DNC</button>
                        </div>
                        <div class="sell-container col-sm-6">
                            <p>Sell DNC at</p>
                            <h3 class="currency-exchange">{[{ DNCbidinUSD/ETHinUSD | number:4}]} ETH</h3>
                            <button class="btn btn-deep-orange btn-rounded waves-effect" data-toggle="modal" data-target="#dinarcoin-info-modal" ng-click="modalActivate('dinarcoin','DNC-burn')">Burn DNC</button>
                        </div>
                    </div>
                </div>

                <br>
                <hr>
                <br>
                <!--Dinarcoin section-->
                <div class="dinarcoin currency-container">
                    <!--Currency label section-->
                    <div class="currency-label col-md-4 col-sm-4">
                        <div class="currency-logo">
                            <img style="width:100%; box-shadow: none" src="/img/Dinarcoin_Logo.png" alt="">
                        </div>
                        <div class="currency-text">
                            <h2>DNC</h2>
                            <h4>Dinarcoin</h4>
                        </div>
                    </div>
                    <!--Currency status-->
                    <div class="currency-status col-md-3 col-sm-8">
                        <p>DNC Balance</p>
                        <h2 class="currency-crypto">{[{DNCbalance | number:4}]} DNC</h2>
                        <h3 class="currency-fiat">{[{DNCbalance * DNCbidinUSD || 0 | number:2}]} USD</h3>
                        <div class="status-button-container">
                            <button class="btn btn-indigo btn-rounded waves-effect" data-toggle="modal" data-target="#dinarcoin-info-modal" ng-click="modalActivate('dinarcoin','DNC-receive')"><i class="fa fa-arrow-down"></i> Receive</button>
                            <button class="btn btn-indigo btn-rounded waves-effect" data-toggle="modal" data-target="#dinarcoin-info-modal" ng-click="modalActivate('dinarcoin','DNC-send')"><i class="fa fa-arrow-up"></i> Send</button>
                        </div>
                    </div>
                    <!--Currency options-->
                    <div class="currency-options col-md-5 col-sm-12">
                        <div class="buy-container col-sm-6">
                            <p>Mint DNC</p>
                            <h3 class="currency-exchange">{[{ DNCaskinUSD | number:2}]} USD</h3>
                            <button class="btn btn-dark-green btn-rounded waves-effect" data-toggle="modal" data-target="#dinarcoin-info-modal" ng-click="modalActivate('dinarcoin','DNC-mint')">Mint DNC</button>
                        </div>
                        <div class="sell-container col-sm-6">
                            <p>Burn DNC</p>
                            <h3 class="currency-exchange">{[{ DNCbidinUSD | number:2}]} USD</h3>
                            <button class="btn btn-deep-orange btn-rounded waves-effect" data-toggle="modal" data-target="#dinarcoin-info-modal" ng-click="modalActivate('dinarcoin','DNC-burn')">Burn DNC</button>
                        </div>
                    </div>
                </div>

                <br>
                <hr>
                <br>

                <!--GSC section-->
                <div class="gsc currency-container">
                    <!--Currency label section-->
                    <div class="currency-label col-md-4 col-sm-4">
                        <div class="currency-logo">
                            <img style="width:100%; box-shadow: none" src="/img/GSC_Logo.png" alt="">
                        </div>
                        <div class="currency-text">
                            <h2>GOLD (1G)</h2>
                            <h4>Gold Smart</h4>
                            <h4>Contract</h4>
                        </div>
                    </div>
                    <!--Currency status-->
                    <div class="currency-status col-md-3 col-sm-8">
                        <p>GSC Balance</p>
                        <h2 class="currency-crypto">{[{G1Gbalance | number:4}]} GSC</h2>
                        <h3 class="currency-fiat">{[{G1Gbalance * G1GbidinUSD || 0 | number:2}]} USD</h3>
                        <!--<div class="status-button-container">-->
                            <!--<button class="btn btn-indigo btn-rounded waves-effect" data-toggle="modal" data-target="#G1G-info-modal" ng-click="modalActivate('GSC','GSC-receive')"><i class="fa fa-arrow-down"></i> Receive</button>-->
                            <!--<button class="btn btn-indigo btn-rounded waves-effect" data-toggle="modal" data-target="#G1G-info-modal" ng-click="modalActivate('GSC','GSC-send')"><i class="fa fa-arrow-up"></i> Send</button>-->
                        <!--</div>-->
                    </div>
                    <!--Currency options-->
                    <div class="currency-options col-md-5 col-sm-12">
                        <div class="buy-container col-sm-6">
                            <p>Mint GSC</p>
                            <h3 class="currency-exchange">{[{ G1GaskinUSD | number:2}]} USD</h3>
                            <button class="btn btn-dark-green btn-rounded waves-effect" data-toggle="modal" data-target="#GSC-info-modal" ng-click="modalActivate('GSC','GSC-mint')">Mint GSC</button>
                        </div>
                        <div class="sell-container col-sm-6">
                            <p>Burn GSC</p>
                            <h3 class="currency-exchange">{[{ G1GbidinUSD | number:2}]} USD</h3>
                            <button class="btn btn-deep-orange btn-rounded waves-effect" data-toggle="modal" data-target="#GSC-info-modal" ng-click="modalActivate('GSC','GSC-burn')">Burn GSC</button>
                        </div>
                    </div>
                </div>

                <br>
                <hr>
                <br>

                <!--GSC section-->
                <div class="gsc currency-container">
                    <!--Currency label section-->
                    <div class="currency-label col-md-4 col-sm-4">
                        <div class="currency-logo">
                            <img style="width:100%; box-shadow: none" src="/img/GSC_Logo.png" alt="">
                        </div>
                        <div class="currency-text">
                            <h2>GOLD (100G)</h2>
                            <h4>Gold Smart</h4>
                            <h4>Contract</h4>
                        </div>
                    </div>
                    <!--Currency status-->
                    <div class="currency-status col-md-3 col-sm-8">
                        <p>GSC Balance</p>
                        <h2 class="currency-crypto">{[{G100Gbalance | number:4}]} GSC</h2>
                        <h3 class="currency-fiat">{[{G100Gbalance * G100GbidinUSD || 0 | number:2}]} USD</h3>
                        <!--<div class="status-button-container">-->
                            <!--<button class="btn btn-indigo btn-rounded waves-effect" data-toggle="modal" data-target="#G100G-info-modal" ng-click="modalActivate('G100G','G100G-receive')"><i class="fa fa-arrow-down"></i> Receive</button>-->
                            <!--<button class="btn btn-indigo btn-rounded waves-effect" data-toggle="modal" data-target="#G100G-info-modal" ng-click="modalActivate('G100G','G100G-send')"><i class="fa fa-arrow-up"></i> Send</button>-->
                        <!--</div>-->
                    </div>
                    <!--Currency options-->
                    <div class="currency-options col-md-5 col-sm-12">
                        <div class="buy-container col-sm-6">
                            <p>Mint GSC</p>
                            <h3 class="currency-exchange">{[{ G100GaskinUSD | number:2}]} USD</h3>
                            <button class="btn btn-dark-green btn-rounded waves-effect" data-toggle="modal" data-target="#GSC-info-modal" ng-click="modalActivate('GSC','GSC-mint')">Mint GSC</button>
                        </div>
                        <div class="sell-container col-sm-6">
                            <p>Burn GSC</p>
                            <h3 class="currency-exchange">{[{ G100GbidinUSD | number:2}]} USD</h3>
                            <button class="btn btn-deep-orange btn-rounded waves-effect" data-toggle="modal" data-target="#GSC-info-modal" ng-click="modalActivate('GSC','GSC-burn')">Burn GSC</button>
                        </div>
                    </div>
                </div>

                <br>
                <hr>
                <br>


                <!--GSC section-->
                <div class="gsc currency-container">
                    <!--Currency label section-->
                    <div class="currency-label col-md-4 col-sm-4">
                        <div class="currency-logo">
                            <img style="width:100%; box-shadow: none" src="/img/GSC_Logo.png" alt="">
                        </div>
                        <div class="currency-text">
                            <h2>GOLD (1KG)</h2>
                            <h4>Gold Smart</h4>
                            <h4>Contract</h4>
                        </div>
                    </div>
                    <!--Currency status-->
                    <div class="currency-status col-md-3 col-sm-8">
                        <p>GSC Balance</p>
                        <h2 class="currency-crypto">{[{G1KGbalance | number:4}]} GSC</h2>
                        <h3 class="currency-fiat">{[{G1KGbalance * G1KGbidinUSD || 0 | number:2}]} USD</h3>
                        <!--<div class="status-button-container">-->
                            <!--<button disabled class="btn btn-indigo btn-rounded waves-effect" data-toggle="modal" data-target="#bitcoin-info-modal"><i class="fa fa-arrow-down"></i> Receive</button>-->
                            <!--<button disabled class="btn btn-indigo btn-rounded waves-effect" data-toggle="modal" data-target="#bitcoin-info-modal"><i class="fa fa-arrow-up"></i> Send</button>-->
                        <!--</div>-->
                    </div>
                    <!--Currency options-->
                    <div class="currency-options col-md-5 col-sm-12">
                        <div class="buy-container col-sm-6">
                            <p>Mint GSC</p>
                            <h3 class="currency-exchange">{[{ G1KGaskinUSD | number:2}]} USD</h3>
                            <button class="btn btn-dark-green btn-rounded waves-effect" data-toggle="modal" data-target="#GSC-info-modal" ng-click="modalActivate('GSC','GSC-mint')">Mint GSC</button>
                        </div>
                        <div class="sell-container col-sm-6">
                            <p>Burn GSC</p>
                            <h3 class="currency-exchange">{[{ G1KGbidinUSD | number:2}]} USD</h3>
                            <button class="btn btn-deep-orange btn-rounded waves-effect" data-toggle="modal" data-target="#GSC-info-modal" ng-click="modalActivate('GSC','GSC-burn')">Burn GSC</button>
                        </div>
                    </div>
                </div>

                <br>
                <hr>
                <br>

                <!--SSC section-->
                <div class="ssc currency-container">
                    <!--Currency label section-->
                    <div class="currency-label col-md-4 col-sm-4">
                        <div class="currency-logo">
                            <img style="width:100%; box-shadow: none" src="/img/SSC_Logo.png" alt="">
                        </div>
                        <div class="currency-text">
                            <h2>SILVER (1Oz)</h2>
                            <h4>Silver Smart</h4>
                            <h4>Contract</h4>
                        </div>
                    </div>
                    <!--Currency status-->
                    <div class="currency-status col-md-3 col-sm-8">
                        <p>GSC Balance</p>
                        <h2 class="currency-crypto">{[{S100OZbalance | number:4}]} GSC</h2>
                        <h3 class="currency-fiat">{[{S100OZbalance * S100OZbidinUSD || 0 | number:2}]} USD</h3>
                        <!--<div class="status-button-container">-->
                            <!--<button disabled class="btn btn-indigo btn-rounded waves-effect" data-toggle="modal" data-target="#bitcoin-info-modal"><i class="fa fa-arrow-down"></i> Receive</button>-->
                            <!--<button disabled class="btn btn-indigo btn-rounded waves-effect" data-toggle="modal" data-target="#bitcoin-info-modal"><i class="fa fa-arrow-up"></i> Send</button>-->
                        <!--</div>-->
                    </div>
                    <!--Currency options-->
                    <div class="currency-options col-md-5 col-sm-12">
                        <div class="buy-container col-sm-6">
                            <p>Mint GSC</p>
                            <h3 class="currency-exchange">{[{ S100OZaskinUSD | number:2}]} USD</h3>
                            <button class="btn btn-dark-green btn-rounded waves-effect" data-toggle="modal" data-target="#GSC-info-modal" ng-click="modalActivate('GSC','GSC-mint')">Mint GSC</button>
                        </div>
                        <div class="sell-container col-sm-6">
                            <p>Burn GSC</p>
                            <h3 class="currency-exchange">{[{ S100OZbidinUSD | number:2}]} USD</h3>
                            <button class="btn btn-deep-orange btn-rounded waves-effect" data-toggle="modal" data-target="#GSC-info-modal" ng-click="modalActivate('GSC','GSC-burn')">Burn GSC</button>
                        </div>
                    </div>
                </div>

                <br>
                <hr>
                <br>

                <!--SSC section-->
                <div class="ssc currency-container">
                    <!--Currency label section-->
                    <div class="currency-label col-md-4 col-sm-4">
                        <div class="currency-logo">
                            <img style="width:100%; box-shadow: none" src="/img/SSC_Logo.png" alt="">
                        </div>
                        <div class="currency-text">
                            <h2>SILVER (1KG)</h2>
                            <h4>Silver Smart</h4>
                            <h4>Contract</h4>
                        </div>
                    </div>
                    <!--Currency status-->
                    <div class="currency-status col-md-3 col-sm-8">
                        <p>GSC Balance</p>
                        <h2 class="currency-crypto">{[{S1KGbalance | number:4}]} GSC</h2>
                        <h3 class="currency-fiat">{[{S1KGbalance * S1KGbidinUSD || 0 | number:2}]} USD</h3>
                        <!--<div class="status-button-container">-->
                            <!--<button disabled class="btn btn-indigo btn-rounded waves-effect" data-toggle="modal" data-target="#bitcoin-info-modal"><i class="fa fa-arrow-down"></i> Receive</button>-->
                            <!--<button disabled class="btn btn-indigo btn-rounded waves-effect" data-toggle="modal" data-target="#bitcoin-info-modal"><i class="fa fa-arrow-up"></i> Send</button>-->
                        <!--</div>-->
                    </div>
                    <!--Currency options-->
                    <div class="currency-options col-md-5 col-sm-12">
                        <div class="buy-container col-sm-6">
                            <p>Mint GSC</p>
                            <h3 class="currency-exchange">{[{ G1KGaskinUSD | number:2}]} USD</h3>
                            <button class="btn btn-dark-green btn-rounded waves-effect" data-toggle="modal" data-target="#GSC-info-modal" ng-click="modalActivate('GSC','GSC-mint')">Mint GSC</button>
                        </div>
                        <div class="sell-container col-sm-6">
                            <p>Burn GSC</p>
                            <h3 class="currency-exchange">{[{ G1KGbidinUSD | number:2}]} USD</h3>
                            <button class="btn btn-deep-orange btn-rounded waves-effect" data-toggle="modal" data-target="#GSC-info-modal" ng-click="modalActivate('GSC','GSC-burn')">Burn GSC</button>
                        </div>
                    </div>
                </div>

                <br>
                <br>
            </div>
            <!--End Dashboard content-->
        </div>

    </div>
    <!-- /#page-content-wrapper -->
</div>

{{> bitcoin-modal}}
{{> ethereum-modal}}
{{> dinarcoin-modal}}
{{> instruments-modal}}

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>