<div id="wrapper" ng-controller="DashboardController" class="toggled">
    {{> sidebar}}

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <!--Navigation bar-->
            <nav class="navbar navbar-dark bg-primary">
                <a href="#menu-toggle" id="menu-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <img style="width: 25px; padding-top: 15px; margin-left: 15px;" src="/img/icon-hamburger.png" alt="">
                </a>
                <div class="container">
                    <!--Toggle sidebar-->

                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item btn-group">
                            <div class="btn-group">
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!--End Navigation bar-->

            <!--Dashboard content-->
            <div class="col-lg-10 col-lg-offset-1 col-md-12">
                <br>
                <br>
                <!--Bitcoin section-->
                <div class="bitcoin currency-container">
                    <!--Currency label section-->
                    <div class="currency-label col-md-4 col-sm-4">
                        <div class="currency-logo">
                            <img style="width:100%; box-shadow: none" src="/img/Bitcoin_Logo.png" alt="">
                        </div>
                        <div class="currency-text">
                            <h2>BTC</h2>
                            <h4>Bitcoin</h4>
                        </div>
                    </div>
                    <!--Currency status-->
                    <div class="currency-status col-md-3 col-sm-8">
                        <p>BTC Balance</p>
                        <h2 class="currency-crypto">{[{user.BTCbalance | number:4}]} BTC</h2>
                        <h3 class="currency-fiat">{[{user.BTCbalance * prices.BTCinUSD || 0 | number:2}]} USD </h3>
                        <h3 class="currency-fiat">{[{prices.BTCinUSD | number:3}]} USD/BTC</h3>
                        <div class="status-button-container">
                            <button class="btn btn-indigo btn-rounded waves-effect" data-toggle="modal" data-target="#bitcoin-info-modal" ng-click="modalActivate('bitcoin','BTC-receive')"><i class="fa fa-arrow-down"></i> Deposit </button>
                            <button class="btn btn-indigo btn-rounded waves-effect" data-toggle="modal" data-target="#bitcoin-info-modal" ng-click="modalActivate('bitcoin','BTC-send')"><i class="fa fa-arrow-up"></i> Withdraw</button>
                        </div>

                    </div>
                    <!--Currency options-->
                    <div class="currency-options col-md-5 col-sm-12">
                        <div class="buy-container col-sm-6">
                            <p>Buy DNC at</p>
                            <h3 class="currency-exchange">{[{ prices.DNCaskinUSD/prices.BTCinUSD | number:4}]} BTC</h3>
                            <button class="btn btn-dark-green btn-rounded waves-effect" data-toggle="modal" data-target="#dinarcoin-info-modal" ng-click="modalActivate('dinarcoin','DNC-mint')">Mint DNC</button>
                        </div>
                        <div class="sell-container col-sm-6">
                            <p>Sell DNC at</p>
                            <h3 class="currency-exchange">{[{ prices.DNCbidinUSD/prices.BTCinUSD | number:4}]} BTC</h3>
                            <button class="btn btn-deep-orange btn-rounded waves-effect" data-toggle="modal" data-target="#dinarcoin-info-modal" ng-click="modalActivate('dinarcoin','DNC-burn')">Burn DNC</button>
                        </div>
                    </div>
                </div>

                <br>
                <hr>
                <br>
                <!--Ethereum section-->
                <div class="bitcoin currency-container">
                    <!--Currency label section-->
                    <div class="currency-label col-md-4 col-sm-4">
                        <div class="currency-logo">
                            <img style="width:100%; box-shadow: none" src="/img/Ethereum_Logo.png" alt="">
                        </div>
                        <div class="currency-text">
                            <h2>ETH</h2>
                            <h4>Ethereum</h4>
                        </div>
                    </div>
                    <!--Currency status-->
                    <div class="currency-status col-md-3 col-sm-8">
                        <p>ETH Balance</p>
                        <h2 class="currency-crypto">{[{user.ETHbalance | number:4}]} ETH</h2>
                        <h3 class="currency-fiat">{[{user.ETHbalance * prices.ETHinUSD || 0 | number:2}]} USD </h3>
                        <h3 class="currency-fiat">{[{prices.ETHinUSD | number:2}]} USD/ETH </h3>
                        <div class="status-button-container">
                            <button class="btn btn-indigo btn-rounded waves-effect" data-toggle="modal" data-target="#ethereum-info-modal" ng-click="modalActivate('ethereum','ETH-receive')"><i class="fa fa-arrow-down"></i> Deposit</button>
                            <button class="btn btn-indigo btn-rounded waves-effect" data-toggle="modal" data-target="#ethereum-info-modal" ng-click="modalActivate('ethereum','ETH-send')"><i class="fa fa-arrow-up"></i> Withdraw </button>
                        </div>
                    </div>
                    <!--Currency options-->
                    <div class="currency-options col-md-5 col-sm-12">
                        <div class="buy-container col-sm-6">
                            <p>Buy DNC at</p>
                            <h3 class="currency-exchange">{[{ prices.DNCaskinUSD/prices.ETHinUSD | number:4}]} ETH</h3>
                            <button class="btn btn-dark-green btn-rounded waves-effect" data-toggle="modal" data-target="#dinarcoin-info-modal" ng-click="modalActivate('dinarcoin','DNC-mint')">Mint DNC</button>
                        </div>
                        <div class="sell-container col-sm-6">
                            <p>Sell DNC at</p>
                            <h3 class="currency-exchange">{[{ prices.DNCbidinUSD/prices.ETHinUSD | number:4}]} ETH</h3>
                            <button class="btn btn-deep-orange btn-rounded waves-effect" data-toggle="modal" data-target="#dinarcoin-info-modal" ng-click="modalActivate('dinarcoin','DNC-burn')">Burn DNC</button>
                        </div>
                    </div>
                </div>

                <br>
                <hr>
                <br>
                <!--Dinarcoin section-->
                <div class="dinarcoin currency-container">
                    <!--Currency label section-->
                    <div class="currency-label col-md-4 col-sm-4">
                        <div class="currency-logo">
                            <img style="width:100%; box-shadow: none" src="/img/Dinarcoin_Logo.png" alt="">
                        </div>
                        <div class="currency-text">
                            <h2>DNC</h2>
                            <h4>Dinarcoin</h4>
                        </div>
                    </div>
                    <!--Currency status-->
                    <div class="currency-status col-md-3 col-sm-8">
                        <p>DNC Balance</p>
                        <h2 class="currency-crypto">{[{user.DNCbalance | number:4}]} DNC</h2>
                        <h3 class="currency-fiat">{[{user.DNCbalance * prices.DNCbidinUSD || 0 | number:2}]} USD </h3>
                        <h3 class="currency-fiat">{[{prices.DNCbidinUSD}]} USD/DNC </h3>
                        <div class="status-button-container">
                            <button class="btn btn-indigo btn-rounded waves-effect" data-toggle="modal" data-target="#dinarcoin-info-modal" ng-click="modalActivate('dinarcoin','DNC-receive')"><i class="fa fa-arrow-down"></i> Receive</button>
                            <button class="btn btn-indigo btn-rounded waves-effect" data-toggle="modal" data-target="#dinarcoin-info-modal" ng-click="modalActivate('dinarcoin','DNC-send')"><i class="fa fa-arrow-up"></i> Send</button>
                        </div>
                    </div>
                    <!--Currency options-->
                    <div class="currency-options col-md-5 col-sm-12">
                        <div class="buy-container col-sm-6">
                            <p>Mint DNC</p>
                            <h3 class="currency-exchange">{[{ prices.DNCaskinUSD | number:2}]} USD</h3>
                            <button class="btn btn-dark-green btn-rounded waves-effect" data-toggle="modal" data-target="#dinarcoin-info-modal" ng-click="modalActivate('dinarcoin','DNC-mint')">Mint DNC</button>
                        </div>
                        <div class="sell-container col-sm-6">
                            <p>Burn DNC</p>
                            <h3 class="currency-exchange">{[{ prices.DNCbidinUSD | number:2}]} USD</h3>
                            <button class="btn btn-deep-orange btn-rounded waves-effect" data-toggle="modal" data-target="#dinarcoin-info-modal" ng-click="modalActivate('dinarcoin','DNC-burn')">Burn DNC</button>
                        </div>
                    </div>
                </div>

                <br>
                <hr>
                <br>

                <!--GSC section-->
                <!-- <div class="gsc currency-container"> -->
                    <!--Currency label section-->
<!--                     <div class="currency-label col-md-4 col-sm-4">
                        <div class="currency-logo">
                            <img style="width:100%; box-shadow: none" src="/img/GSC_Logo.png" alt="">
                        </div>
                        <div class="currency-text">
                            <h2>GOLD (1G)</h2>
                            <h4>Gold Smart</h4>
                            <h4>Contract</h4>
                        </div>
                    </div>
 -->                    <!--Currency status-->
<!--                     <div class="currency-status col-md-3 col-sm-8">
                        <p>GSC Balance</p>
                        <h2 class="currency-crypto">{[{user.G1Gbalance | number:4}]} GSC</h2>
                        <h3 class="currency-fiat">{[{user.G1Gbalance * prices.G1GbidinUSD || 0 | number:2}]} USD </h3>
                        <h3 class="currency-fiat">{[{prices.G1GbidinUSD}]} USD/Gold(1G)</h3> -->
                        <!--<div class="status-button-container">-->
<!--                             <button class="btn btn-indigo btn-rounded waves-effect" data-toggle="modal" data-target="#G1G-info-modal" ng-click="modalActivate('GSC','GSC-receive')"><i class="fa fa-arrow-down"></i> Receive</button> -->
                            <!--<button class="btn btn-indigo btn-rounded waves-effect" data-toggle="modal" data-target="#G1G-info-modal" ng-click="modalActivate('GSC','GSC-send')"><i class="fa fa-arrow-up"></i> Send</button>-->
                        <!--</div>-->
                    <!-- </div> -->
                    <!--Currency options-->
<!--                     <div class="currency-options col-md-5 col-sm-12">
                        <div class="buy-container col-sm-6">
                            <p>Mint GSC</p>
                            <h3 class="currency-exchange">{[{ prices.G1GaskinUSD | number:2}]} USD</h3>
                            <button class="btn btn-dark-green btn-rounded waves-effect" data-toggle="modal" data-target="#GSC-info-modal" ng-click="modalActivate('GSC','GSC-mint')">Mint GSC</button>
                        </div>
                        <div class="sell-container col-sm-6">
                            <p>Burn GSC</p>
                            <h3 class="currency-exchange">{[{ prices.G1GbidinUSD | number:2}]} USD</h3>
                            <button class="btn btn-deep-orange btn-rounded waves-effect" data-toggle="modal" data-target="#GSC-info-modal" ng-click="modalActivate('GSC','GSC-burn')">Burn GSC</button>
                        </div>
                    </div>
                </div>

                <br>
                <hr>
                <br>
 -->
                <!--GSC section-->
<!--                 <div class="gsc currency-container">
 -->                    <!--Currency label section-->
<!--                     <div class="currency-label col-md-4 col-sm-4">
                        <div class="currency-logo">
                            <img style="width:100%; box-shadow: none" src="/img/GSC_Logo.png" alt="">
                        </div>
                        <div class="currency-text">
                            <h2>GOLD (100G)</h2>
                            <h4>Gold Smart</h4>
                            <h4>Contract</h4>
                        </div>
                    </div> -->
                    <!--Currency status-->
<!--                     <div class="currency-status col-md-3 col-sm-8">
                        <p>GSC Balance</p>
                        <h2 class="currency-crypto">{[{user.G100Gbalance | number:4}]} GSC</h2>
                        <h3 class="currency-fiat">{[{user.G100Gbalance * prices.G100GbidinUSD || 0 | number:2}]} USD</h3>
                        <h3 class="currency-fiat">{[{prices.G100GbidinUSD}]} USD/Gold(100G)</h3> -->
                        <!--<div class="status-button-container">-->
                            <!--<button class="btn btn-indigo btn-rounded waves-effect" data-toggle="modal" data-target="#G100G-info-modal" ng-click="modalActivate('G100G','G100G-receive')"><i class="fa fa-arrow-down"></i> Receive</button>-->
                            <!--<button class="btn btn-indigo btn-rounded waves-effect" data-toggle="modal" data-target="#G100G-info-modal" ng-click="modalActivate('G100G','G100G-send')"><i class="fa fa-arrow-up"></i> Send</button>-->
                        <!--</div>-->
                    <!-- </div> -->
                    <!--Currency options-->
<!--                     <div class="currency-options col-md-5 col-sm-12">
                        <div class="buy-container col-sm-6">
                            <p>Mint GSC</p>
                            <h3 class="currency-exchange">{[{ prices.G100GaskinUSD | number:2}]} USD</h3>
                            <button class="btn btn-dark-green btn-rounded waves-effect" data-toggle="modal" data-target="#GSC-info-modal" ng-click="modalActivate('GSC','GSC-mint')">Mint GSC</button>
                        </div>
                        <div class="sell-container col-sm-6">
                            <p>Burn GSC</p>
                            <h3 class="currency-exchange">{[{ prices.G100GbidinUSD | number:2}]} USD</h3>
                            <button class="btn btn-deep-orange btn-rounded waves-effect" data-toggle="modal" data-target="#GSC-info-modal" ng-click="modalActivate('GSC','GSC-burn')">Burn GSC</button>
                        </div>
                    </div>
                </div>

                <br>
                <hr>
                <br>

 -->
                <!--GSC section-->
                <!-- <div class="gsc currency-container"> -->
                    <!--Currency label section-->
<!--                     <div class="currency-label col-md-4 col-sm-4">
                        <div class="currency-logo">
                            <img style="width:100%; box-shadow: none" src="/img/GSC_Logo.png" alt="">
                        </div>
                        <div class="currency-text">
                            <h2>GOLD (1KG)</h2>
                            <h4>Gold Smart</h4>
                            <h4>Contract</h4>
                        </div>
                    </div> -->
                    <!--Currency status-->
                    <!-- <div class="currency-status col-md-3 col-sm-8">
                        <p>GSC Balance</p>
                        <h2 class="currency-crypto">{[{user.G1KGbalance | number:4}]} GSC</h2>
                        <h3 class="currency-fiat">{[{user.G1KGbalance * prices.G1KGbidinUSD || 0 | number:2}]} USD </h3>
                        <h3 class="currency-fiat">{[{prices.G1KGbidinUSD}]} USD/Gold(1KG)</h3> -->
                        <!--<div class="status-button-container">-->
                            <!--<button disabled class="btn btn-indigo btn-rounded waves-effect" data-toggle="modal" data-target="#bitcoin-info-modal"><i class="fa fa-arrow-down"></i> Receive</button>-->
                            <!--<button disabled class="btn btn-indigo btn-rounded waves-effect" data-toggle="modal" data-target="#bitcoin-info-modal"><i class="fa fa-arrow-up"></i> Send</button>-->
                        <!--</div>-->
                    <!-- </div> -->
                    <!--Currency options-->
<!--                     <div class="currency-options col-md-5 col-sm-12">
                        <div class="buy-container col-sm-6">
                            <p>Mint GSC</p>
                            <h3 class="currency-exchange">{[{ prices.G1KGaskinUSD | number:2}]} USD</h3>
                            <button class="btn btn-dark-green btn-rounded waves-effect" data-toggle="modal" data-target="#GSC-info-modal" ng-click="modalActivate('GSC','GSC-mint')">Mint GSC</button>
                        </div>
                        <div class="sell-container col-sm-6">
                            <p>Burn GSC</p>
                            <h3 class="currency-exchange">{[{ prices.G1KGbidinUSD | number:2}]} USD</h3>
                            <button class="btn btn-deep-orange btn-rounded waves-effect" data-toggle="modal" data-target="#GSC-info-modal" ng-click="modalActivate('GSC','GSC-burn')">Burn GSC</button>
                        </div>
                    </div>
                </div>

                <br>
                <hr>
                <br> -->

                <!--SSC section-->
                <!-- <div class="ssc currency-container"> -->
                    <!--Currency label section-->
<!--                     <div class="currency-label col-md-4 col-sm-4">
                        <div class="currency-logo">
                            <img style="width:100%; box-shadow: none" src="/img/SSC_Logo.png" alt="">
                        </div>
                        <div class="currency-text">
                            <h2>SILVER (100 Oz)</h2>
                            <h4>Silver Smart</h4>
                            <h4>Contract</h4>
                        </div>
                    </div> -->
                    <!--Currency status-->
<!--                     <div class="currency-status col-md-3 col-sm-8">
                        <p>GSC Balance</p>
                        <h2 class="currency-crypto">{[{user.S100Ozbalance | number:4}]} GSC</h2>
                        <h3 class="currency-fiat">{[{user.S100Ozbalance * prices.S100OzbidinUSD || 0 | number:2}]} USD </h3>
                        <h3 class="currency-fiat">{[{prices.S100OzbidinUSD}]} USD/Silver(100 Oz) </h3> -->
                        <!--<div class="status-button-container">-->
                            <!--<button disabled class="btn btn-indigo btn-rounded waves-effect" data-toggle="modal" data-target="#bitcoin-info-modal"><i class="fa fa-arrow-down"></i> Receive</button>-->
                            <!--<button disabled class="btn btn-indigo btn-rounded waves-effect" data-toggle="modal" data-target="#bitcoin-info-modal"><i class="fa fa-arrow-up"></i> Send</button>-->
                        <!--</div>-->
                    <!-- </div> -->
                    <!--Currency options-->
<!--                     <div class="currency-options col-md-5 col-sm-12">
                        <div class="buy-container col-sm-6">
                            <p>Mint GSC</p>
                            <h3 class="currency-exchange">{[{ prices.S100OzaskinUSD | number:2}]} USD</h3>
                            <button class="btn btn-dark-green btn-rounded waves-effect" data-toggle="modal" data-target="#GSC-info-modal" ng-click="modalActivate('GSC','GSC-mint')">Mint GSC</button>
                        </div>
                        <div class="sell-container col-sm-6">
                            <p>Burn GSC</p>
                            <h3 class="currency-exchange">{[{ prices.S100OzbidinUSD | number:2}]} USD</h3>
                            <button class="btn btn-deep-orange btn-rounded waves-effect" data-toggle="modal" data-target="#GSC-info-modal" ng-click="modalActivate('GSC','GSC-burn')">Burn GSC</button>
                        </div>
                    </div>
                </div>

                <br>
                <hr>
                <br>
 -->
                <!--SSC section-->
                <!-- <div class="ssc currency-container"> -->
                    <!--Currency label section-->
<!--                     <div class="currency-label col-md-4 col-sm-4">
                        <div class="currency-logo">
                            <img style="width:100%; box-shadow: none" src="/img/SSC_Logo.png" alt="">
                        </div>
                        <div class="currency-text">
                            <h2>SILVER (1KG)</h2>
                            <h4>Silver Smart</h4>
                            <h4>Contract</h4>
                        </div>
                    </div> -->
                    <!--Currency status-->
<!--                     <div class="currency-status col-md-3 col-sm-8">
                        <p>GSC Balance</p>
                        <h2 class="currency-crypto">{[{user.S1KGbalance | number:4}]} GSC</h2>
                        <h3 class="currency-fiat">{[{user.S1KGbalance * prices.S1KGbidinUSD || 0 | number:2}]} USD </h3>
                        <h3 class="currency-fiat">{[{prices.S1KGbidinUSD}]} USD/Silver(1KG)</h3> -->
                        <!--<div class="status-button-container">-->
                            <!--<button disabled class="btn btn-indigo btn-rounded waves-effect" data-toggle="modal" data-target="#bitcoin-info-modal"><i class="fa fa-arrow-down"></i> Receive</button>-->
                            <!--<button disabled class="btn btn-indigo btn-rounded waves-effect" data-toggle="modal" data-target="#bitcoin-info-modal"><i class="fa fa-arrow-up"></i> Send</button>-->
                        <!--</div>-->
                    <!-- </div> -->
                    <!--Currency options-->
                    <!-- <div class="currency-options col-md-5 col-sm-12">
                        <div class="buy-container col-sm-6">
                            <p>Mint GSC</p>
                            <h3 class="currency-exchange">{[{ prices.S1KGaskinUSD | number:2}]} USD</h3>
                            <button class="btn btn-dark-green btn-rounded waves-effect" data-toggle="modal" data-target="#GSC-info-modal" ng-click="modalActivate('GSC','GSC-mint')">Mint GSC</button>
                        </div>
                        <div class="sell-container col-sm-6">
                            <p>Burn GSC</p>
                            <h3 class="currency-exchange">{[{ prices.S1KGbidinUSD | number:2}]} USD</h3>
                            <button class="btn btn-deep-orange btn-rounded waves-effect" data-toggle="modal" data-target="#GSC-info-modal" ng-click="modalActivate('GSC','GSC-burn')">Burn GSC</button>
                        </div>
                    </div> -->
                </div>

                <br>
                <br>
            </div>
            <!--End Dashboard content-->
        </div>

    </div>
    <!-- /#page-content-wrapper -->
</div>

{{> bitcoin-modal}}
{{> ethereum-modal}}
{{> dinarcoin-modal}}
{{> instruments-modal}}

<!-- Menu Toggle Script -->
<script>
    if ($(window).width() <= 768) {
        $("#wrapper").toggleClass("toggled");
    }
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });    
    
</script>


<script>
    function validateFloatKeyPress(el, evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        var number = el.value.split('.');
        if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        //just one dot
        if(number.length>1 && charCode == 46){
            return false;
        }
        //get the carat position
        var caratPos = getSelectionStart(el);
        var dotPos = el.value.indexOf(".");
        if( caratPos > dotPos && dotPos>-1 && (number[1].length > 0)){
            return false;
        }
        return true;
    }

    //thanks: http://javascript.nwbox.com/cursor_position/
    function getSelectionStart(o) {
        if (o.createTextRange) {
            var r = document.selection.createRange().duplicate();
            r.moveEnd('character', o.value.length);
            if (r.text == '') return o.value.length;
            return o.value.lastIndexOf(r.text);
        } else return o.selectionStart;
    }
</script>