<div class="login-page container-fluid" ng-controller="LoginController">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="col-lg-4 col-md-6 col-md-offset-4 card login-form">

        <div class="logo-img">
            <img src="/img/UBW_Logo.png" alt="">
        </div>
        <br>
        <form class="col-md-10 col-md-offset-1">
            <div class="md-form form-group">
                <i class="fa fa-envelope prefix"></i>
                <input type="email" id="form-email-input" class="form-control validate" placeholder="Your Email Address" ng-model="email">
                <!--<label for="form-email-input" data-error="wrong" data-success="right" class="">Example label</label>-->
            </div>
            <div class="md-form form-group">
                <i class="fa fa-lock prefix"></i>
                <input type="password" id="form-password-input" class="form-control" placeholder="Your Password" ng-model="pwd">
                <!--<label for="form-password-input" data-error="wrong" data-success="right" class="">Your Password</label>-->
            </div>
            <div class="login-message">
                <h4 class='text-danger font-weight-bold'>{[{errorMessage}]} </h4>
                <br>
            </div>
            <div class="md-form">
                <input class="btn btn-primary btn-lg" type="submit" value="Login" ng-click="login()">
                <a class="btn btn-primary btn-lg" href="/register">Register</a>
            </div>
            <a data-toggle="modal" data-target="#password-reset-modal">Forgot Password?</a>
        </form>
    </div>

	<!-- Modal -->
	<div class="modal fade" id="password-reset-modal" tabindex="-1" role="dialog" aria-labelledby="password-reset-modal-label" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	        <!--Content-->
	        <div class="modal-content">
	            <!--Header-->
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	               	     <span aria-hidden="true">&times;</span>
	                </button>
	                <h4 class="modal-title w-100" id="password-reset-modal-label">Request Password Reset</h4>
	            </div>
	            <!--Body-->
	            <div class="modal-body">
        	        <h4 class='text-danger font-weight-bold'>{[{resetErrorMessage}]} </h4>
	                <div class="md-form form-group">
	                    <i class="fa fa-envelope prefix"></i>
	                    <input type="email" id="password-reset-email-input" class="form-control validate" placeholder="Your Email Address" ng-model="resetEmail">
                	    <!--<label for="form-email-input" data-error="wrong" data-success="right" class="">Example label</label>-->
        	        </div>
	                <div class="md-form">
                    	<input class="btn btn-primary btn-lg" type="submit" value="Reset Password" id="resetPassword" ng-click="reset()">
                	</div>
            	</div>
       		</div>
        	<!--/.Content-->
    	</div>
	</div>

</div>

<style>
    .login-form {
        text-align: center;
        padding: 30px;
    }
    .login-form>form>.form-group {
        text-align: left;
    }
    .md-form.form-group>i{
        padding-top: 10px;
        padding-right: 10px;
        text-align: center;
    }

    .modal-body {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 40px;
    }
</style>
