<div class="container-fluid">
    <br>
    <br>
    <br>
    <br>

    Display the current
    <div class="col-md-6 col-lg-4 col-lg-offset-2 card-container">
        <div class="card currency-card">
            <div class="currency-label col-md-3 col-sm-4">
                <div class="currency-logo">
                    <img src="/img/Bitcoin_Logo.png" alt="">
                </div>
                <h4>Bitcoin</h4>
            </div>
            <div class="currency-info col-md-9 col-sm-8">
                <h4>23.7102 BTC</h4>
                <h4>230.233 USD</h4>
                <button class="btn btn-primary-outline btn-flat waves-effect" data-toggle="modal" data-target="#bitcoin-info-modal">ACCOUNT INFO</button>
            </div>
            <!--<div class="currency-txns col-md-5">-->
            <!--<div class="col-md-6">-->
            <!--Buy DNC at-->
            <!--<h4>BTC 1033.12</h4>-->
            <!--<button class="btn btn-blue-grey">BUY</button>-->
            <!--</div>-->
            <!--<div class="col-md-6">-->
            <!--Sell DNC at-->
            <!--<h4>USD 1033.12</h4>-->
            <!--<button class="btn btn-blue-grey">SELL</button>-->
            <!--</div>-->
            <!--</div>-->
        </div>

    </div>
    <div class="col-md-6 col-lg-4 card-container">
        <div class="card half-card currency-card">
            <div class="currency-label col-md-3 col-sm-4">
                <div class="currency-logo">
                    <img src="/img/Ethereum_Logo.png" alt="">
                </div>
                <h4>Ethereum</h4>
            </div>
            <div class="currency-info col-md-9 col-sm-8">
                <h4>23.7102 BTC</h4>
                <h4>230.233 USD</h4>
                <button class="btn btn-primary-outline btn-flat waves-effect" data-toggle="modal" data-target="#bitcoin-info-modal">ACCOUNT INFO</button>
            </div>
            <!--<div class="currency-txns col-md-5">-->
            <!--<div class="col-md-6">-->
            <!--Buy DNC at-->
            <!--<h4>BTC 1033.12</h4>-->
            <!--<button class="btn btn-blue-grey">BUY</button>-->
            <!--</div>-->
            <!--<div class="col-md-6">-->
            <!--Sell DNC at-->
            <!--<h4>USD 1033.12</h4>-->
            <!--<button class="btn btn-blue-grey">SELL</button>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <div class="col-md-12 col-lg-8 col-lg-offset-2 card-container">
        <div class="card currency-card">
            <div class="currency-label col-md-2 col-sm-4">
                <div class="currency-logo">
                    <img src="/img/Bitcoin_Logo.png" alt="">
                </div>
                <h4>DinarCoin</h4>
            </div>
            <div class="currency-info col-md-5 col-sm-8">
                <h4>23.7102 BTC</h4>
                <h4>230.233 USD</h4>
                <button class="btn btn-primary-outline btn-flat waves-effect" data-toggle="modal" data-target="#bitcoin-info-modal">ACCOUNT INFO</button>
            </div>
            <div class="currency-txns col-md-5">
                <div class="col-md-6">
                    Buy DNC at
                    <h4>BTC 1033.12</h4>
                    <button class="btn btn-blue-grey">BUY</button>
                </div>
                <div class="col-md-6">
                    Sell DNC at
                    <h4>USD 1033.12</h4>
                    <button class="btn btn-blue-grey">SELL</button>
                </div>
            </div>
        </div>
    </div>

</div>

{{> bitcoin-modal}}
